$primary-color: #fff;

.arrive__container {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
        width: 100%;
        padding: 0.2em 0.5em;
    }
}

.arrive__links {
    list-style: none;
    text-decoration: underline;

    li {
        letter-spacing: 0.125em;
        cursor: pointer;
        text-align: center;

    }

    a {
        color: $primary-color;
        text-decoration: none;
    }
}